

<div class="intro">
    <p><span class="event">EVENT</span><span class="sharing">SHARING</span> - сервис для простого, удобного и быстрого поиска интересных событий на любой вкус. С помощью фильтров и интерактивной карты вы сможете с легкостью подобрать интересные для вас события или поделиться событиями с другими пользователями.
</div>

<div>
    <div class="intro">
        <p style="text-align: center;">
            <span class="event">ВАШИ   </span><span class="sharing">ВОЗМОЖНОСТИ</span>
            - Сейчас доступен для пользования такой функционал:</p>
        <h5 style="text-indent: 20px;">- Зарегестрированные пользователи могут размещать информацию о своих мероприятих или о мероприятиях, о которых им известно <span class="event">POST</span>.   А так же пользоваться поиском интересующих их событий и мероприятий.</h5>
        <h5 style="text-indent: 20px; margin-top: 10px;">- Для неавторизованных пользователей пока доступен только поиск событий <span class="event">BROWSE EVENTS</span></h5>
        <h5 style="text-indent: 20px; margin-top: 10px;">- Зарегестрироваться можно нажав на <span class="event">REGISTR</span></h5>
        <h5 style="text-indent: 20px; margin-top: 10px;">- Авторизоваться можно нажав на <span class="event">EVENT</span></h5>
        <h5 style="text-indent: 20px; margin-top: 10px;">- Вся досупная информация о пользователе находится на странице <span class="event">ACCOUNT</span></h5>
        <h4 style="text-align: center; margin-top: 10px;">Приятного пользования, с уважением</h4>
    </div>
</div>

<div class="team_container">

    <div class="team">
        

        <h1>НАША КОМАНДА</h1>
        <div class="line"></div>
        <div class="team_cards">
            <div class="card">
                <div class="photo">
                    <img src="~/img/1149375.png" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-height: 100%; max-width:100%"/>
                </div>
                <h4 class="name">Андрей Шилов</h4>
                <p class="position">Backend разработчик</p>
                <p class="team_position"></p>
            </div>
            <div class="card">
                <div class="photo" style="padding-top: 117%">
                    <img src="~/img/1149391.png" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -49%); max-height: 100%; max-width:92%" />
                </div>
                <h4 class="name">Сергей Чесноков</h4>
                <p class="position">Backend разработчик</p>
                <p class="team_position"></p>
            </div>
            <div class="card">
                <div class="photo" style="padding-top: 122%">
                    <img src="~/img/ninja.png" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-height: 100%; max-width:93%" />
                </div>
                <h4 class="name">Андрей Русанов</h4>
                <p class="position">Frontend разработчик</p>
                <p class="team_position"></p>
            </div>

            <div class="card">
                <div class="photo">
                    <img src="~/img/1149387.png" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -51%); max-height: 100%; max-width:100%" />
                </div>
                <h4 class="name">Никита Куприн</h4>
                <p class="position">Frontend разработчик</p>
                <p class="team_position"></p>
            </div>
        </div>
    </div>
</div>
