

<div class="intro">
    <p><span class="event">EVENT</span><span class="sharing">SHARING</span> - сервис для простого, удобного и быстрого поиска интересных событий на любой вкус. С помощью фильтров и интерактивной карты вы сможете с легкостью подобрать интересные для вас события или поделиться событиями с другими пользователями.
</div>

<div>

</div>

<div class="team_container">
    <div class="team">
        <h1>НАША КОМАНДА</h1>
        <div class="line"></div>
        <div class="team_cards">
            <div class="card">
                <div class="photo"> </div>
                <h4 class="name">Андрей Шилов</h4>
                <p class="position">Backend разработчик</p>
                <p class="team_position"></p>
            </div>
            <div class="card">
                <div class="photo"></div>
                <h4 class="name">Сергей Чесноков</h4>
                <p class="position">Backend разработчик</p>
                <p class="team_position"></p>
            </div>
            <div class="card">
                <div class="photo"> </div>
                <h4 class="name">Андрей Русанов</h4>
                <p class="position">Frontend разработчик</p>
                <p class="team_position"></p>
            </div>

            <div class="card">
                <div class="photo"> </div>
                <h4 class="name">Никита Куприн</h4>
                <p class="position">Frontend разработчик</p>
                <p class="team_position"></p>
            </div>
        </div>
    </div>
</div>
