

<div class="intro">
    <div class="wrap">
    <p><span class="event">EVENT</span><span class="sharing">SHARING</span> - сервис для простого, удобного и быстрого поиска интересных событий на любой вкус. С помощью фильтров и интерактивной карты вы сможете с легкостью подобрать интересные для вас события или поделиться событиями с другими пользователями.
    <p class="" : center;">
        <span class="event">ВАШИ   </span><span class="sharing">ВОЗМОЖНОСТИ</span>
        - Сейчас доступен для пользования такой функционал:
    </p>
    <ul>
        <li>Зарегистрированные пользователи могут размещать информацию о своих мероприятих или о мероприятиях, о которых им известно</li>
        <li>Зарегистрироваться можно нажав на <span class="event">REGISTER</span></li>
        <li>Авторизоваться можно нажав на <span class="event">SIGN IN</li>
        <li>Вся доступная информация о пользователе находится на странице <span class="event">ACCOUNT</span></li>
    </ul>
    <h4 style="text-align: center; padding: 10px;">Приятного пользования, с уважением</h4>
</div>
</div>


<div class="team_container">

    <div class="team">
        

        <h1>НАША КОМАНДА</h1>
        <div class="line"></div>
        <div class="team_cards">
            <div class="card">
                <div class="photo" style="background-image: url('/img/AndreyShilov.jpg');">                  
                </div>
                <h4 class="name">Андрей Шилов</h4>
                <p class="position">Team Leader</p>
                <p class="position">Backend разработчик</p>
                <p class="team_position"></p>
            </div>
            <div class="card">
                <div class="photo" style="background-image: url('/img/SergeyChesnokov.jpg');">                   
                </div>
                <h4 class="name">Сергей Чесноков</h4>
                <p class="position">Backend разработчик</p>
                <p class="position">Работа с базой данных</p>
                <p class="team_position"></p>
            </div>
            <div class="card">
                <div class="photo" style="background-image: url('/img/AndreyRusanov.jpg');">                    
                </div>
                <h4 class="name">Андрей Русанов</h4>
                <p class="position">Frontend разработчик</p>
                <p class="position">Вёрстка сайта</p>
                <p class="team_position"></p>
            </div>

            <div class="card">
                <div class="photo" style="background-image: url('/img/NikitaKuprin.jpg');">                  
                </div>
                <h4 class="name">Никита Куприн</h4>
                <p class="position">Backend разработчик</p>
                <p class="position">Работа с Docker и Azure</p>
                <p class="team_position"></p>
            </div>
        </div>
    </div>
</div>
