<form class="popup target">
    <img class="close_popup" src="~/img/close.png" alt="icon">
    <center><h2>Целевая аудитория</h2></center>
    <div class="check">
        <div class="group">
            <div class="group">
                <input type="checkbox">
                <label for=>Дошкольники</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Школьники</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Подростки</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Молодежь</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Для всей семьи</label>
            </div>
        </div>
    </div>
    <input class="choose" type="button" value="Выбрать">
</form>