<form class="popup themes">
    <img class="close_popup" src="~/img/close.png" alt="icon">
    <center><h2>Тематика</h2></center>
    <div class="check">
        <div class="group">
            <div class="group">
                <input type="checkbox">
                <label for=>Музыка</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Живопись</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Театр</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Кино</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Спорт</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Образование</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>IT</label>
            </div>

        </div>
        <div class="group">
            <div class="group">
                <input type="checkbox">
                <label for=>Бизнес</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Экология</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Иностранные языки</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Наука</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Красота</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Еда</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Компьютерные игры</label>
            </div>


        </div>


    </div>
    <input class="choose" type="button" value="Выбрать">


</form>
