<form class="popup types">
    <img class="close_popup" src="~/img/close.png" alt="icon">
    <h2>Тип события</h2>
    <div class="check">
        <div class="row">
            <div class="group">
                <input type="checkbox">
                <label for=>Открытие</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Выставка</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Ярмарка</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Фестиваль</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Концерт</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Кинопоказ</label>
            </div>


        </div>
        <div>
            <div class="group">
                <input type="checkbox">
                <label for=>Пресс-мероприятие</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Мастер-класс</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Тренинг</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Семинар</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Экскурсия</label>
            </div>
        </div>
        <div>
            <div class="group">
                <input type="checkbox">
                <label for=>Праздник</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Вечеринка</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Дискотека</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Пикник</label>
            </div>
            <div class="group">
                <input type="checkbox">
                <label for=>Соревнование</label>
            </div>
        </div>

    </div>
    <input class="choose" type="button" value="Выбрать">


</form>