@using EventSharing.Models

<div class="container mt-5 mb-5">
    <div style="height:50px; background-color:white">

    </div>
    <link rel="stylesheet" href="~/css/account.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/header.css">

    <div class="row no-gutters">
        <div class="col-md-4 col-lg-4"><img src="~/img/hacker.png"></div>
        <div class="col-md-8 col-lg-8">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                    <h3 class="display-5">@CurentUser.CurentUserInfo.Name</h3><i class="fa fa-facebook"></i><i class="fa fa-google"></i><i class="fa fa-youtube-play"></i><i class="fa fa-dribbble"></i><i class="fa fa-linkedin"></i>
                    <h4>User Name</h4>
                </div>
                <div class="p-3 bg-black text-white">
                    <h6>Creater &amp; Developer</h6>
                    <h4>Email: @CurentUser.CurentUserInfo.Email</h4>
                </div>
                <div class="d-flex flex-row text-white">
                    <div class="p-3 bg-primary text-center skill-block" style="background-color:lightgreen">
                        <h4>@CurentUser.CurentUserInfo.Login</h4>
                        <h6>User Login</h6>
                    </div>
                    <div class="p-3 bg-success text-center skill-block" style="background-color:#39e628">
                        <h4>@CurentUser.CurentUserInfo.QuantityEventsLoad</h4>
                        <h6>Events uploaded</h6>
                    </div>
                    <div class="p-3 bg-warning text-center skill-block" style="background-color:darkcyan">
                        <h4>IN PROGRESS</h4>
                        <h6>Achivments</h6>
                    </div>
                    <div class="p-3 bg-danger text-center skill-block">
                        <h4>IN PROGRESS</h4>
                        <h6>Raiting</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:100px; background-color:white">

    </div>
</div>
