
<div class="footer-basic" >
    <footer>
        <ul class="list-inline">
            <li class="d-inline-block"><a href="#">Home</a></li>
            <li class="d-inline-block"><a href="#">About</a></li>     
        </ul>
        <p class="copyright">Company Name © 2018</p>
    </footer>
</div>
