

 
    <ul class="list-inline">
        <li class="footer"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="footer"><a asp-area="" asp-controller="SearchMap" asp-action="Map">Search</a></li>     
    </ul>
    <p class="footer">EventSharing © 2022</p>


