.filters_container {
    color: #fff;
    width: 400px;
    height: 100%;
    text-align: center;
}

    .filters_container button {
        cursor: pointer;
        height: 40px;
        width: 300px;
        color: #fff;
        background: transparent;
        text-transform: uppercase;
        border: none;
    }

    .filters_container input[type=submit] {
        cursor: pointer;
        padding: 10px 30px;
        height: 40px;
        width: 250px;
        color: #fff;
        text-transform: uppercase;
        background: rgb(0, 191, 191);
        font-weight: bold;
        text-align: center;
        border-radius: 10px;
        margin: 10px;
        border: none;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    }

.filters {
    width: 100%;
    height: 260px;
    margin: 0 auto;
    background: transparent;
    box-shadow: none;
}

    .filters h2 {
        align-self: center;
    }

.browse {
    color: white;
    width: 100%;
    height: 700px;
    background: darkcyan;
    display: flex;
    margin: 0 auto;
}

::placeholder {
    color: rgb(195, 218, 218);
}


form {
    margin: 0 auto;
    width: 450px;
    height: 500px;
    background: rgb(0, 165, 165);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

.choose {
    cursor: pointer;
    padding: 10px 30px;
    height: 40px;
    width: 300px;
    color: #fff;
    text-transform: uppercase;
    background: rgb(0, 191, 191);
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    border: none;
    position: absolute;
    bottom: 20px;
    right: 150px;
    left: 150px;
}

.choose_type {
}

hr {
    background: white;
    font-size: 1px;
    width: 100%;
}

.arrow {
    width: 20px;
    height: 20px;
    left: 0px;
}

.block {
    display: flex;
}

    .block a {
        margin-left: 80px;
    }

.group {
    margin: 10px;
    padding: 5px;
}
