*{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
}

html {
	background: rgb(0, 63, 63);
	font-family: 'Montserrat';
}

body{
	font-family: 'Montserrat';
	font-size:20px;
	width: 100%;
	min-height: 90%;

}
.wrapper {
	height:100%;
}

footer {
	flex: 0 0 auto;
	width: 100%;
	z-index: 50;
	background: #007573;
	background-size: cover;
	background-blend-mode: lighten;
}

.container{
	margin: 0 auto;
	padding: 0px 20px;
	height: 100%;
}

.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background: #007573;
	background-image: url(/img/header_image.png);
	background-size: cover;
	background-blend-mode: lighten ;
}
.header before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
}

.header_body{
	position: relative;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;

}
.header_logo{
	z-index: 3;
	font-size: 20px;
}
.header_burger{
	display: none;
}
.header_menu{
	z-index: 1;
}
.header_list{
	display: flex;
	list-style: none;
	z-index: 0;
}
.header_list li{
	list-style: none;
	text-transform: uppercase;
	margin: 0px 0px 0px 20px;
	z-index: 0;

}

.header_link{
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
.header_link:hover{
	border-bottom: 2px solid white;
	z-index: 100;
}


main{
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
main .intro{

	color: #fff;
	background:  darkcyan;
	z-index: -1;
	background-image: url(/img/intro_image.png);
	background-blend-mode: color-dodge;
	background-size: cover;
	font-size: 18px;
}

main .intro h1{
	color: #fff;
	font-size: 18px;

}
main .intro p{
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;

}


.wrap{
	padding: 20px 50px 10px;

}
.intro ul{
	padding-bottom: 10px;
	list-style-type: disc;
	padding-left: 20px;
	font-size: 18px;
}

.intro li{
	list-style-type: disc;
	display: list-item;
	font-size: 18px;
}



.event{
	color: lightgreen;
}
.sharing{
	color: lightcyan;
}

main .team{
	text-align: center;
	padding: 30px 10px 50px;
	color: black;
	margin: 0 auto;
}
main .team h1{
	font-size: 44px;
	padding-bottom: 30px;
}

.team_container{
	width: 100%;
	background: rgb(237, 255, 255);
	margin: 0 auto;
	display: flex;
}


.photo{
	width: 125px;
	height: 125px;
	margin: 20px auto;
	border-radius: 50%;
	background-size: 125px;

}

.photo img{
	width: 125px;
	height: 125px;
	border-radius: 50%;
	top: 50%;
	left: 50%;

}

.team_cards{
	display: flex;

}
.name{
	margin: 10px;

}

.position{
	font-size: 14px;
}

.form_container{
	display: flex;
	width: 100%;
	height: 600px;
	padding: 0px 0px 50px;
	margin: 0 auto;
	color: #fff;
	background:  darkcyan;
	background-image: url(/img/form_background.png);
	background-blend-mode: lighten;
	background-size: cover;
}

form{
	margin: 0 auto;
	width: 450px;
	height: 500px;
	background:  rgb(0, 165, 165);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

form h1{
	font-size: 32px;
	text-align: center;
	padding-top: 20px;
}

.group {
	margin: 10px;
	padding: 5px;

}

.label {
	padding-left: 10px;
	text-transform: uppercase;
}

.form_container input{
	margin-top: 10px;
	height: 30px;
	width: 400px;
	border: none;
	padding-left: 15px;
	font-size: 18px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
	border-radius: 5px/5px;
}

input:focus {
	outline: none;

}


input[type=submit]{
	cursor: pointer;
	padding: 10px 30px;
	height: 40px;
	width: auto;
	color: #fff;
	text-transform: uppercase;
	background: rgb(0, 191, 191);
	font-weight: bold;
	text-align: center;

}

input[type=submit]:hover{
	opacity: 0.80;
	transform: scale(1.1);
}

input[type=button]:hover{
	opacity: 0.80;
	transform: scale(1.1);
}


.form_container button{
	cursor: pointer;
	height: 40px;
	color: #fff;
	text-transform: uppercase;
	background: rgb(0, 191, 191);
	font-weight: bold;
}

.form_container button:hover{
	opacity: 0.80;
	transform: scale(1.1);
}

.map{
	height: 100%;
	width: 100%;

}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}




.arrow{
	width: 20px;
	height: 20px;
	left: 0px;
}

.block{
	display: flex;
}
.block a{
	margin-left: 80px;



}

hr {
	background: white;
	font-size: 1px;
	width: 100%;

}

.filters_container{
	color: #fff;
	width: 300px;
	height: 100%;
	text-align: center;
}
.filters{
	width: 100%;
	margin: 0 auto;
	background: transparent;
}

::placeholder{
	color: rgb(195, 218, 218);
}


.form_separator{
	flex-direction: column;
	width: 50%;
	height: 100%;
	text-align: center;
	display: flex;
}


.event_data{

}



textarea{
	width: 100%;
	height: 200px;
	rows:  50;
}

.popup_bg{
	position: fixed;
	width: 100%;
	height: 100%; 
	top: 10px;
	left: 0;
	z-index: -100;
}
.popup{
	position: absolute;
	top: 300px;
	right: 5px;
	width: 600px;
	height: 400px;
	background: darkcyan;
	transform: translate(-50%, -50% );
	z-index: 100;
	display: none;
	font-size: 14px;
	text-align: center;

}

.target{
	width: 400px;
	right: 105px;
}


.browse {
	color: white;
	width: 100%;
	height: 700px;
	background: darkcyan;
	display: flex;
	margin: 0 auto;
}

.popup h2{
	padding-top: 15px;

}
.row{
	text-align: left;
}

.check{
	display: flex;
	text-align: left;
}

.choose{
	cursor: pointer;
	padding: 10px 30px;
	height: 40px;
	width: 300px;
	color: #fff;
	text-transform: uppercase;
	background: rgb(0, 191, 191);
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
	border: none;
	position: absolute;
	bottom: 20px;
	right: 150px;
	left: 150px;

	

}

.target .choose{
	width: 200px;
	right: 100px;
	left: 100px;

}


.choose_type{
	
}

.close_popup{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 80px;
	width: 80px;
	color: white;
}


.bottom_container {
	width: 100%;
	height: 200%;
	flex: 0 0 auto;
	width: 100%;
	z-index: 50;
	background-color: darkcyan;
	background-image: url(/img/header_image.png);
	background-size: cover;
	background-blend-mode: lighten;
	display: inline-block;
	text-align: center;
}

.text-danger {
	color: mediumvioletred;
	font-size: 15px;
}

@media screen and (max-width: 750px) {
	.header_burger{
		display: block;
		position: relative;
		width: 20px;
		height: 20px;
		z-index: 3;
	}

	.header_burger:before{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 0;
		transition: all 0.3s ease 0s;

	}
	.header_burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		bottom: 0;
		transition: all 0.3s ease 0s;
		
	}
	.header_burger span{
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top:  9px;
		transition: all 0.3s ease 0s;

	}

	.header_menu{
		position: fixed;
		top: -200px;
		left: 0;
		width: 100%;
		height: 150px;
		background-color: #007573;
		background-image: url(/img/header_image.png);
	   background-size: cover;
	   background-blend-mode: lighten ;
	   padding: 50px 0px 0px 0px;
	   transition: all 0.3s ease 0s;

	}

	header_logo{
		flex:  0 0 40px;
	}
	.header_list{
		display: block;
	}

	.header_burger.active:before{
		transform: rotate(45deg);
		top: 9px;

	}
	.header_burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;

	}
	.header_burger.active span{
		transform: scale(0);

	}

	.header_menu.active{
		top: 0;
   }
	.team_cards{
	flex-direction: column;
   }




}

.map_hint {
	font-size: 14px;
	letter-spacing: -1.4px;
	word-spacing: 0px;
	color: white;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
	border: 3px outset;
	border-color: lightgreen;
	background: none no-repeat scroll 50% 50%;
	background-color: darkcyan;
}


.footer{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	text-align: center;
	background: rgb(0, 63, 63);
	color: white;
}

.footer p{
	margin: 10px;

}




